.welcomeBox{
  padding: 4rem;
  background: linear-gradient(90deg, rgb(115, 97, 216) 0%, rgb(200, 204, 241) 100%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Box1 Pic1"
    ". Pic1"
    "Pic2 Box2"
    "Pic2 .";
    
}

.Box1 { grid-area: Box1; }
.Pic1 {
   grid-area: Pic1; 
   /* transform: translateX(-30%) scale(0.95); */
  }
.Box2 { grid-area: Box2; }
.Pic2 { 
  grid-area: Pic2;
}

.page > p {
    margin-top: 8px;
    color: rgb(8, 8, 8);
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 20px;
    text-align: center;
    
  }

  @media only screen and (max-width: 1025px) {
    .page > p{
      word-wrap: normal;
      padding-left: 10px;
      padding-right: 10px;
      
    }
  }
  